In [1]:
import pandas as pd
import sys
sys.path.append('..')
from utils.paths import PATHS, PARAMS

In [2]:
df = pd.read_csv(PATHS['vias'])
encoding = PARAMS['encoding']

In [3]:
df.head()

   Código     Nombre
0       0   Marítimo
1       1   Marítimo
2       2     Férreo
3       3  Terrestre
4       4      Aéreo